.idea
.ipynb_checkpoints
prototyp-student-performance/.ipynb_checkpoints
prototyp-student-performance/causal-model/.ipynb_checkpoints
prototyp-student-performance/data/.ipynb_checkpoints
prototyp-student-performance/notebooks/.ipynb_checkpoints
prototyp-machine-data/.ipynb_checkpoints